
.tab-holders {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    gap: 16px;
}

.tab-holders .home-link:hover {
    background-color: rgba(80, 80, 80, 1);
    transform: scale(1.05);
}

/*
  Player Guesses
*/
.player-inputs{
  display: flex;
  align-items: center;
  gap: 12px;
}

.player-inputs input {
  padding: 12px 16px;
  font-size: 18px;
  border-radius: 10px;
  border: 5px solid teal;
  outline: none;
}

.player-inputs button{
  width: fit-content;
  border-radius: 5px;
  border: 5px solid teal;
  background-color: lightblue;
  cursor: pointer;
}

.player-inputs button img {
  width: 24px;
  height: 24px;
  filter: invert(-1);
}

.player-inputs button:hover{
  transform: scale(1.05);
  background-color: lightcyan;
  border: 5px solid rgb(0, 77, 77);
}