body{
  margin: 0;
  min-height: 100vh;

  background-image: linear-gradient(120deg,
      rgba(20, 20, 25, 1) 0%,
      rgba(0, 0, 5, 1) 50%,
      rgba(20, 20, 25, 1) 100%
  );

  background-size: 300% 300%;
  animation: gradientMove 20s ease infinite;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
}

/* Animations */
@keyframes gradientMove {
  0%{ background-position: 0% 50%; }
  50%{ background-position: 100% 50%; }
  100%{ background-position: 0% 50%; }
}

