body{
    margin: 0;
    min-height: 100vh;

    background-image: linear-gradient(120deg,
        rgba(20, 20, 25, 1) 0%,
        rgba(0, 0, 5, 1) 50%,
        rgba(20, 20, 25, 1) 100%
    );

    background-size: 300% 300%;
    animation: gradientMove 20s ease infinite;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
}

.headers-holder{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 10px 14px;
    border-radius: 30px;
}


.header-option{
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}

.header-option img{
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.home-button {
    font-size: 64px;
    color: #f2f2f2;
    text-shadow:
        0 0 6px rgba(255,255,255,0.35),
        0 0 12px rgba(255,255,255,0.15);
    text-decoration: none;
    padding: 45px 45px;
}

.home-button:hover {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
    transform: scale(1.05);
}

.header-option:hover {
    background-color: rgba(255,255,255,0.15);
    transform: scale(1.05);
}


.tab-holders {
    padding: 15px;
    width: fit-content;
    display: flex;
    justify-content: center;
    
    border: 5px solid transparent;
    border-radius: 20px;

    background:
        linear-gradient(#111, #111) padding-box,
        linear-gradient(90deg, red, green, blue) border-box;
}

.tab-holders a {
    display: block;
    padding: 12px 16px;

    text-decoration: none;
    color: #f2f2f2;
    background-color: rgba(30, 30, 30, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;

    font-weight: 600;
    text-align: center;
    transition: background-color 0.2s ease, trasform 0.15s ease;
}

.tab-holders nav{
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

.tab-holders a.active{
    background-color: rgba(80, 80, 80, 1);
    border-color: white;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.35);
}


/*
    Different Options ie: Stats, streak, how to play, patch notes
*/

.options-stuffs{
    display: flex;
    flex-direction: row;
    gap: 12px;

    padding: 32px;
    border: 5px solid teal;
    border-radius: 20px;

    background-color: rgb(40, 40, 40);
}


.options-stuffs img{
    display: block;
    width: 32px;
    height: 32px;
    filter: invert(1);
}


.options-stuffs a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    width: fit-content;
    height: 100px;
    padding: 0 24px;

    text-decoration: none;
    color: aliceblue;
    font-size: 24px;
    font-weight: 600;

    border: 2px solid gray;
    border-radius: 10px;
    box-sizing: border-box;

    transition:
        background-color 0.15s ease,
        transform 0.15s ease,
        border-color 0.15s ease;
    background-color: rgba(30,30,30,1);
}


.options-stuffs a:hover{
    background-color: rgba(20,20,20,1);
    transform: scale(1.03);
    border-color: #9ff;
}

.options-stuffs nav{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*
    Guess Headers
*/
.guess-clues{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    padding: 20px;
    color: aliceblue;
    font-size: 32px;
    border: 5px solid teal;
    border-radius: 20px;
    background-color: rgb(40, 40, 40);
}

.guess-clues h3{
    margin: 0;
    padding: 0px 24px;
    text-align: center;
}

.guess-clues button{
    justify-content: space-evenly;
}

.hidden-clues.is-hidden{
    display: none;
}

.clue-btn{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16;

    width: fit-content;
    height: fit-content;
    padding: 0px, 20px;

    background-color: rgba(0, 0, 0, 0.6);
    border: 5px solid goldenrod;
    border-radius: 12px;

    color: aliceblue;
    font-size: 18px;

    cursor: pointer;

    opacity: 0.4;
    pointer-events: none;
    filter: grayscale(1);

    transition:
        opacity 0.2s ease,
        filter 0.2s ease,
        background-color 0.2s ease,
        transform 0.15s ease;
}

.clue-btn.unlocked{
    opacity: 1;
    pointer-events: auto;
    filter: none;
}

.hidden-clues{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;   
}

.clue-btn img {
    width: 28px;
    height: 28px;
    filter: invert(1);
}

/*
    Player Guesses
*/
.player-inputs{
    display: flex;
    align-items: center;
    gap: 12px;
}

.player-inputs input {
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 10px;
    border: 5px solid teal;
    outline: none;
}

.player-inputs button{
    width: fit-content;
    border-radius: 5px;
    border: 5px solid teal;
    background-color: lightblue;
    cursor: pointer;
}

.player-inputs button img {
    width: 24px;
    height: 24px;
    filter: invert(-1);
}

.player-inputs button:hover{
    transform: scale(1.05);
    background-color: lightcyan;
    border: 5px solid rgb(0, 77, 77);
}

/* Animations */
@keyframes gradientMove {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}